/* Josh Comeau's CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/* My own stylings */
:root {
    /* Color variables */
    --clr-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
    --clr-grayish-blue: hsl(212, 23%, 69%);
    --clr-light-grayish-blue: hsl(210, 46%, 95%);

    /* Font variables */
    --ff-manrope: 'Manrope', sans-serif;
    --fw-500: 500;
    --fw-700: 700;
}

body {
    font-size: 13px;
    font-family: var(--ff-manrope);
	color: var(--clr-dark-grayish-blue);

    display: grid;
    gap: 10px;
    min-height: 100vh;
    place-content: center;
    margin: 1.5rem;
	background: var(--clr-light-grayish-blue);
}

.preview {
	display: grid;
	background: white;
	border-radius: .75rem;
	overflow: hidden;
	max-width: 850px;
}

.preview__content {
	padding: 2rem 2rem 1.25rem 2rem;
}

.preview__captions {
	font-size: 1rem;
}

.preview__description {
	color: var(--clr-desaturated-dark-blue);
	font-weight: var(--fw-500);
	font-size: .83rem;
	margin-top: .8rem;
}

.preview__other-information {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}

.preview__author-container {
	display: flex;
}

.preview__author-avatar {
	border-radius: 50%;
	width: auto;
	height: 2.5rem;
}

.preview__author-information {
	margin-left: 1rem;
}

.preview__author {
	font-size: .8rem;
}

.preview__date {
	color: var(--clr-grayish-blue);
}







.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }